* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #1e293b;
    color: white;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.search-bar {
    display: flex;
    gap: 5px;
}

.search-bar input {
    padding: 5px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.product-container {
    display: flex;
    gap: 30px;
    padding: 30px;
}

.product-gallery img {
    width: 100%;
}

.thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.thumbnails img {
    width: 70px;
    cursor: pointer;
}

.product-details {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.price {
    margin: 10px 0;
}

.old-price {
    text-decoration: line-through;
    color: gray;
}

.quantity-selector {
    margin: 15px 0;
}

button {
    cursor: pointer;
}

.add-to-cart {
    padding: 10px;
    background: #1e293b;
    color: white;
    border: none;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #1e293b;
    color: white;
}

/* Responsive */
@media(max-width:768px){
    .product-container{
        flex-direction: column;
    }
}